/* Body/global styles */
$bodyBackground: rgb(219, 219, 219);
$mainTextColor: rgb(218, 216, 216);

/* App container */
$appBackground: rgb(41,50,181);
$appBackgroundbright: rgb(61, 112, 189);

/* Bus section */
$busBackground: rgb(0, 0, 0, 0.25);
$busNumber:  rgb(0, 0, 0, 0.40);;
$busNumberTextColor: $mainTextColor;

