.arrivals {
    padding: 1rem 0.5rem;

    width: 100%;
    height: auto;
    background-color: magenta;

    &__bus {
        display: block;

        &__lineNumber {
            display: inline-block;
            font-size: 2rem;
            color: white;
            padding: 4px;
            border: 1px solid red;
            background-color: red;
            border-radius: 50%;
        }

        &__destination {
            margin-left: 1rem;
            display: inline-block;
            text-transform: capitalize;
        }

        &__time {
            display: inline-block;
            margin-left: 6rem;
        }
    }
    
}