.container {
    position: relative;
    width: 375px;
    height: 667px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 2rem auto;
    box-shadow: 5px 5px 32px 3px hsla(0, 0%, 0%, 0.71);
    background: linear-gradient(to bottom, $appBackground, $appBackgroundbright);
    
}