.settings-menu {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    border-radius: 10px;
    background-color: $settingsBackground;
    opacity: 0;
    transform: opacity 0.5s;

    /* TOGGLE VISIBILITY OF SETTINGS MENU     */
    &--visible {
        visibility: visible;
        opacity: 1;
    } 

    &__container {
        flex: 1;
        margin: 0;
        padding: 1.5rem;
    }

    &__title {
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    &__bus-search {
    
        &-form {
        margin-top: 3rem;
        font-size: 1.2em;
        margin-bottom: 1rem;
        
        
        & input {
                width: 80%;
                outline: none;
                padding: 0.5rem 0.5rem;
                border: 1px solid transparent;
                border-radius: 3px;
            }
        }

        &-name-results {
            max-height: 300px;
            overflow-y: auto;
        }

        &-stop {
            margin-bottom: 0.5rem;
        }

        &-stop:hover {
            cursor: pointer;
            color: black;
        }
    }
    
    &__bus-stop {
        margin-bottom: 0.5rem;
    }

    &__bus-stop:hover {
        cursor: pointer;
        color: black;
    }

}