.weather {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 3rem 0;
    width: 90%;
    
    &__icon-wrapper {
        display: inline-block;
    }

    &__icon {
        height: 8rem;
        width: 8rem;
        margin-right: 10px;
        fill: white;
    }

    &__text {
        display: inline-block;
        font-size: 1.2rem;
        padding: 0.5rem 0;

        &__temp {
            font-size: 4.5rem;
        }

        &__desc {
            padding-left: 0.5rem;
        }
    }
}